<main class="holder">
    <div class="quiensomosimg"></div>
    <div class="Nuestra Historia"></div>
    <h2>Nuestra Historia</h2>
    <p>Somos una empresa familiar con 90 anos de traytectoria en el rubro automotor. Nuestro objetivo es
        brindar a nuestros Clientes un servicio eficaz, basado en responsabilidad y el compromiso.
    </p>
    <p>Marcas que son sponsors de nuestro taller mecanico</p>
    <div class="marcas">
        <div class="marca">
            <h3>Yokohama</h3>
            Ofrecemos todo tipo de neumaticos de la marca, desde los neumaticos mas pequeños hasta los mas grandes
        </div>

        <div class="marca">
            <h3>Sparco</h3>
            <p>Gracias a Sparco, podemos modificar y mejorar la estetica del vehiculo como le guste al cliente</p>
        </div>

        <div class="marca">
            <h3>Castrol</h3>
            Castrol es una de las mejores marcas de aceite que hay en el mundo, estos mismos tienen componetes
            avanzados que
            alargan la vida util del vehiculo.
        </div>

        <div class="marca">
            <h3>Bosch</h3>
            Bosch esta en el top 1 del mundo como el repuesto mas confiable y utilizado para el vehiculo. Estos
            mismos nos ofrecen Baterias, Bujias, Alternadores de arranque, etc.
        </div>
    </div>
</main>

