    <main class="holder">
        <h2>Servicios</h2>
        <div class="servicio">
            <div class="info">
                <h3>Lubricentro</h3>
                <p>Hacemos el service completo al vehiculo (Cambio de fluidos - Filtros y Correa). Para ello contamos
                    con todos los productos de Castrol.
                    Aceite de motor, Liquido de direccion, Liquido de caja automatica, Liquido refrigerante.</p>
            </div>
        </div>

        <div class="servicio">
            <div class="info">
                <h3>Electronica</h3>
                <p>Con la tecnologia que adquirimos, podemos solucionar y reparar todo tipo de problema electronico
                    gracias a nuestros amigos de Bosch que nos otorgan sus productos de calidad</p>
            </div>
        </div>

        <div class="servicio">
            <div class="info">
                <h3>Motor</h3>
                <p>Nuestros mecanicos recibidos de la ITCA (Instituto Tecnológico de Capacitación Automotriz) tienen la
                    capacidad y profesionalidad de poder investigar y encontrar el problema en tu motor con rapidez y
                    facilidad.</p>
                <p>Tambien ofrecemos el servicio de mejora de CV del motor con chips de programacion japoneses.</p>
            </div>
        </div>

        <div class="servicio">
            <div class="info">
                <h3>Neumaticos</h3>
                <p>En nuestro taller hacemos cambio de neumaticos con nuestra marca acompañante Yokohama. Estos
                    neumaticos tienen una avanzada tecnologia en la cual pueden resistir a todo tipo de terreno.</p>
                <p>Tambien con el cambio de neumaticos, hacemos el servicio de alieacion y balanceo del vehiculo + el
                    cambio de pasatillas de freno.</p>
            </div>
        </div>

        <div class="servicio">
            <div class="info">
                <h3>Accesorios</h3>
                <p> Contamos con la mejor calidad en Accesorios para el vehiculo, desde alfombras, volantes, asientos,
                    etc.</p>

            </div>
        </div>

    </main>
